######################
# Ignore these files #
######################
*.xlsx
*.~lock*
*.pdf
*residentList.txt
*.jpg
*.pptx
*.ppt
*.csv
*emails.txt
*__pycache__/
*.ipynb_checkpoints/
*ghostdriver.log

*keys.py
*output.sqc
